@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

/*body  */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #b4d6e0;
}

/* container */
.Container {
  width: 850px;
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: #bc6b6b;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(33, 34, 34, 0.6);
  border: none;
  transition: all 0.5s ease;
  animation: popOut 2.2s ease-out forwards;
  background: linear-gradient(#b298d8, #d8a798);
  transform-origin: center;
}

.content {
  width: 50%;
  height: 100%;
  align-content: center;
  text-align: center;
  padding: 10px;
}

.content h1 {
  font-size: 36px;
  color: #c34721;
  margin-top: 5px;
}

.tagline {
  font-size: 14px;
  line-height: 1.6;
  color: #8666c3;
  font-weight: 600;
}

.chat-box i {
  font-size: 50px;
  margin-top: -50px;
  transition: all 0.5s ease;
  opacity: 0;
  color: #f2dad5;
  animation: chat 2.5s ease-out forwards;
  transform-origin: center;
  margin-bottom: 0;
}

@keyframes chat {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    transform: translateY(-400px);
    opacity: 0.4;
  }

  70% {
    transform: translateY(-100px);
    opacity: 0.7;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.form-box {
  width: 50%;
  margin: auto;
  height: 100%;
  align-content: center;
  padding: 50px 20px;
  align-items: center;
  margin: auto;
  background-color: #ffffff;
}

.form-container {
  width: 100%;
}

.form-box h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  color: #8666c3;
}

.icon {
  position: fixed;
  top: 10px;
  right: 20px;
}

.form-box .input-box {
  padding: 10px;
  position: relative;
}

.form-box .input-box input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 2px;
  margin: auto;
  background-color: #edbcb3;
  border: none;
  border: none;
}

.form-box input::placeholder {
  color: #643fa7;
  font-size: 14px;
  font-weight: 600;
}

.form-box input:focus {
  background-color: #dbc0ea;
  color: #cc4646;
  font-weight: 600;
  border: none;
  box-shadow: 0 0 10px rgba(16, 21, 21, 0.6);
}

.form-box .fa-envelope {
  position: absolute;
  font-size: 14px;
  top: 20px;
  right: 20px;
  color: #4676c7;
}

.form-box .fa-lock {
  position: absolute;
  font-size: 14px;
  top: 36px;
  right: 20px;
  color: #4676c7;
}

.form-box .input-box p {
  font-size: 13px;
  margin-top: 5px;
  color: #ac0f0f;
}

.btns {
  width: 100%;
  margin-left: 10px;
  margin-top: 20px;
}

.btns button {
  width: 95%;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.6s ease-in-out;
  background-color: #643fa7;
  transition: 0.6s ease-in-out;
}

.btns button:hover {
  background-color: #f7e1db;
  color: #cc4646;
  font-weight: 600;
  transform: translateY(-8px);
  box-shadow: 0 0 10px rgba(39, 42, 42, 0.4);
}

.btns p {
  font-size: 13px;
  margin-top: 10px;
  margin-left: 5px;
  color: #4676c7;
}

.btns a {
  font-weight: 500;
  color: #4328a4;
}

.toggle-btn {
  width: 150px;
  padding: 8px 20px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #ffffff;
  transition: all 0.3s ease-in-out;
}

.toggle-btn a {
  color: #c34721;
  font-weight: 500;
}

.toggle-btn:hover {
  background-color: #fff;
  transform: scale(1.12);
}

.toggle-btn a:hover {
  color: #4328a4;
  font-weight: 600;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 10px;
}

.social-icons > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  background-color: #e1ecf0;
}

.social-icons > div:hover {
  box-shadow: 0 0 20px rgba(33, 34, 34, 0.6);
}

.social-icons i {
  position: absolute;
  top: 8px;
  left: 5px;
  font-size: 24px;
}

form {
  padding: 40px 0;
  overflow: hidden;
}

.forgot-link a {
  color: #eb140d;
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
}

.back-icon {
  position: absolute;
  top: 25px;
  right: 50px;
  transition: 0.5s ease-in-out;
  animation: shake 0.9s infinite;
}
.back-icon img:hover{
  transform: scale(1.3);
}

/* User Styling */
@keyframes shake {
  10% {
    transform: scale(1.05) rotate(5deg);
  }

  20% {
    transform: scale(1.05) rotate(-5deg);
  }

  30% {
    transform: scale(1.05) rotate(-10deg);
  }

  100% {
    transform: scale(1.1) rotate(10deg);
  }
}

.user-content {
  width: 50%;
  height: 100%;
  padding-bottom: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(78, 76, 76, 0.7);
  background: linear-gradient(#b298d8, #d8a798);
}

.user-content .top-section {
  width: 100%;
  padding: 50px;
  padding-bottom: 10px;
  text-align: center;
}

.user-content .bottom-section {
  width: 100%;
  height: auto;
  padding: 30px 28px 50px;
}

.user-container {
  min-width: 450px;
  max-width: 400px;
  width: 100%;
  margin: auto;
  height: 280px;
  padding: 10px 50px;
  background-color: #9fb7dd;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(33, 34, 34, 0.6);
}

.start-btn {
  padding: 8px 20px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  color: #b64040;
  font-weight: 600;
}

.user-container h1 {
  font-size: 24px;
  margin-top: 30px;
  color: #643fa7;
  text-align: center;
}

.user-name {
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
}

.user-name input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #efe3d7;
}

#username::placeholder {
  color: #ac0f0f;
}

#username:focus {
  background-color: #bdaff2;
  color: #ac0f0f;
}

.userbtn-box {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: auto;
  padding: 10px;
}

.userbtn-box > button {
  width: 150px;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #ac0f0f;
  border: none;
  font-weight: 600;
  transition: 0.4s ease-in-out;
}

.userbtn-box button a {
  color: #ac0f0f;
}

.userbtn-box button:hover {
  background-color: #8666c3;
  color: #fff;
  transform: scale(1.025);
  box-shadow: 0 0 10px rgba(171, 168, 168, 0.7);
}

.userbtn-box button a:hover {
  color: #fff;
}

.user-container p {
  color: #4676c7;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}

/* Media query */

@media (max-width: 1024px) {
  .user-content {
    width: 60%;
  }

  .user-container {
    min-width: 400px;
    max-width: 350px;
  }
}

@media (max-width: 786px) {
  .Container {
    height: 100%;
    flex-direction: column;
  }
  .user-container {
    min-width: 380px;
    max-width: 340px;
  }

  .user-content {
    width: 90%;
  }

  .content {
    width: 100%;
    height: 100vh;
  }

  .form-box {
    width: 100%;
  }

  .form-container {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 486px) {
  .user-content {
    width: 100%;
    height: 100%;
    margin-top: 15px;
  }
  .user-container {
    min-width: 340px;
    max-width: 290px;
  }
  .userbtn-box{
    gap: 5px;
    margin-top: 0;
  }
  .userbtn-box > button{
    width: 95px;
    padding: 10px;
  }
  .user-container p {
    font-size: 10px;
    margin-top: 4px;
  }
}
